/* Temporary */
.debug {
    border: 1px solid red;
}
/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
html {
    scroll-behavior: smooth;
}
h2 {
    font-size: 2.4rem;
}
h3 {
    font-size: 1.5rem;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    display: inline-block;
}
.a-deco{
    text-decoration: underline;
    color: var(--dark-btn);
}
img {
    width: 100%;
    display: block;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}
.small-container {
    max-width: 1000px;
    padding: 10px;
    margin: 0 auto;
}

/* Flexbox */
.d-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.align-center {
    align-items: center;
    align-content: center;
}
.align-base {
    align-items: baseline;
}
.just-center {
    justify-content: center;
}
.just-start {
    gap: 1rem;
    justify-content: flex-start;
}
.wrap {
    flex-wrap: wrap;
}
/* Color styles */
:root {
    --primary: #FFFFFF;
    --dark-color: #000000;
    --light-color: #B4D0E7;
    --dark-btn: #0061FF;
    --accessory-color: #F5F5F5;
    --green-square: #A2D39B;
    --light-blue-square: #0093CE;
    --brown-square: #61082B;
    --red-square: #FF1C1C;
    --cherry-square: #D5001F;
    --blue-square: #0D2481;
    --yellow-square: #FFD830;
}
/* Background and color */
.green-bg {
    background-color: var(--green-square);
}
.light-blue-bg {
    background-color: var(--light-blue-square);
}
.brown-bg {
    background-color: var(--brown-square);
}
.red-bg {
    background-color: var(--red-square);
}
.cherry-bg {
    background-color: var(--cherry-square);
}
.blue-bg {
    background-color: var(--blue-square);
}
.yellow-bg {
    background-color: var(--yellow-square);
}
.light-bg {
    background-color: var(--light-color);
}
.prim-bg {
    background-color: var(--primary);
}
.dark-txt {
    color: var(--dark-color);
}
.accessory-bg {
    background-color: var(--accessory-color);
}
/* Buttons */
.btn {
padding: 7px 10px;
display: block;
}
.max-btn {
    max-width: 250px;
    text-align: center;
}
.dark-btn {
    color: var(--primary);
    background-color: var(--dark-btn);
}
.light-btn {
    color: var(--dark-color);
    border: 1px solid var(--dark-color);
    background-color: var(--primary);
    width: 200px;
    text-align: center;
}
.border {
    border: 2px solid var(--accessory-color);
}
.border-bottom {
    border-bottom: 2px solid lightgray;
}
/* Margins and paddings*/
.b-100-m {
    margin-bottom: 100px;
}
.b-50-m {
    margin-bottom: 50px;
}
.b-40-p {
    padding-bottom: 40px;
}
.t-40-p {
    padding-top: 40px;
}
.t-20-p {
    padding-top: 20px;
}
.b-20-p {
    padding-bottom: 20px;
}
.l-50-m {
    margin-left: 50px;
}
.l-15-p{
    padding-left: 15px;
}
.r-15-p {
    padding-right: 15px;
}
/* Header */
header {
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    z-index: 1000;
    padding: 10px;
    border-bottom: 2px solid var(--accessory-color);
}
header li {
    padding: 10px;
}
header a {
    color: var(--dark-color);
}
/* Main */
main {
    margin-top: 80px;
}
/* section jumbo */
h1 {
    font-size: 4.5rem;
    font-weight: 800;
}
.sec-cont {
    transform: translate(0, 50px);

}
.left-sec {
    width: 30%;
    position: relative;
}
.arrow {
    position: absolute;
    bottom: 60px;
    left: 5px;
}
.left-sec i {
    font-size: 4rem;
}
.right-sec {
    width: 70%;
}
/* Section plans */
.radio {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.selected {
    background-color: var(--dark-btn);
}
.radio + span {
    vertical-align: middle;
}
.unselected {
    border: 1px solid lightgray;
    background-color: var(--primary);
}
.in-radio {
    width: .75rem;
    height: .75rem;
    border-radius: 50%;
    background-color: var(--primary);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    /* card */
.card {
    width: 30%;
}
.user {
    font-weight: 400;
    text-align: center;
    padding: 5px;
}
.u-plan {
    padding: 10px;
}
.italic {
    font-style: italic;
}
.card ul.b-20-p li {
    padding-bottom: 10px;
}
.card .btn {
    width: 90%;
    text-align: center;
    margin: 0 auto;
}
hr {
    height: 1px;
    width: 20%;
    margin-left: 0;
    font-weight: 800;
    border: 1px solid var(--accessory-color);
}
.check::before{
    content: ' \2713';
    color: var(--dark-btn);
    font-weight: 800;
}
.left {
    width: 65%;
}
/* Section partner */
.partner-text {
    width: 40%;
    padding: 5rem 3.4rem;
}
.partner-image {
    width: 60%;
}
/* Section features */
.col {
    width: calc(100% / 3);
    padding: 10px;
}
.col img {
    vertical-align: bottom;
}
/* Section clients */
.special {
    word-spacing: 1rem;
    font-weight: 750;
}
.square {
    width: calc(100% / 3);
    height: calc(100vw / 3);
}
.central-square {
    background-color: var(--accessory-color);
    padding: 50px 30px;
}
.logo-des {
    width: 50%;
}
.central-square hr {
    border: 1px solid lightgrey;
    margin-bottom: 40px;
}
blockquote {
    letter-spacing: -1.2px;
    word-spacing: 0.5px;
}
cite {
    font-style: normal;
}
    /* small square */
.small-square {
    width: 50%;
    height: 50%;
}
.small-square img {
    filter: invert(1);
    width: 60%;
}
/* Free trial */
#free-trial h2 {
    color: var(--brown-square);
}
#free-trial div {
    gap: 2rem;
    padding: 50px;
}
/* Faq */

/* Footer */
footer {
    background-color: var(--dark-color);
    color: var(--accessory-color);
}