/* Temporary */
.debug {
    border: 1px solid red;
}
/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
html {
    scroll-behavior: smooth;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    display: inline-block;
}
img {
    width: 100%;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}
.small-container {
    max-width: 1000px;
    padding: 10px;
    margin: 0 auto;
}
/* Flexbox */
.d-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.align-center {
    align-items: center;
    align-content: center;
}
/* .just-center {
    justify-content: center;
}
.just-around {
    justify-content: space-around;
} */
/* Color styles */
:root {
    --primary: #FFFFFF;
    --dark-color: #000000;
    --light-color: #B4D0E7;
    --dark-btn: #0061FF;
    --accessory-color: #F5F5F5;
    --green-square: #A2D39B;
    --light-blue-square: #0093CE;
    --brown-square: #61082B;
    --red-square: #FF1C1C;
    --cherry-square: #D5001F;
    --blue-square: #0D2481;
    --yellow-square: #FFD830;
}
/* Background and color */
.light-bg {
    background-color: var(--light-color);
}
.prim-bg {
    background-color: var(--primary);
}
.dark-txt {
    color: var(--dark-color);
}
/* Buttons */
.btn {
padding: 7px 10px;
}
.dark-btn {
    color: var(--primary);
    background-color: var(--dark-btn);
}
.light-btn {
    color: var(--dark-color);
    background-color: var(--primary);
}
/* Margins and paddings*/
.b-100-m {
    margin-bottom: 100px;
}
.b-40-p {
    padding-bottom: 40px;
}
.t-40-p {
    padding-top: 40px;
}
/* Header */
header {
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    z-index: 1000;
    padding: 10px;

}
header li {
    padding: 10px;
}
header a {
    color: var(--dark-color);
}
/* Main */
main {
    margin-top: 80px;
}
/* section jumbo */
h1 {
    font-size: 4.5rem;
    font-weight: 800;
}
.sec-cont {
    transform: translate(0, 50px);

}
.left-sec {
    width: 30%;
    position: relative;
}
/* Da rivedere il posizionamento della freccetta - quando scala si rompe!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.arrow {
    position: absolute;
    bottom: 60px;
    left: 5px;
}
.left-sec i {
    font-size: 4rem;
}
.right-sec {
    width: 70%;
}

/* Footer */
footer {
    background-color: var(--dark-color);
    color: var(--accessory-color);
}